<div class="text">List of actions</div>

{% for board in boards.keys() %}
<ul>
<li>{{ board }}</li>
{% for reg in boards[board]["registers"].keys() %}
<ul>
  <script language="javascript" type="text/javascript">
    var b = board;
    var r = reg;
</script>
<li>{{ reg }}<a href="/{{board}}/{{reg}}/read"\
}><button>read</button></a>{% if boards[board]["registers"][reg]["writable"]==True %}<a href="/{{board}}/{{reg}}/write"}><button>write</button></a> {% endif %}</li>
</ul>
{% endfor %}
</ul>
{% endfor %}
