<div class="text">action {{action}} on register {{register}} (board {{board}}) </div>
{% if status %}<div class="text">status: {{status}}</div>{% endif %}
{% if message %}<div class="text">message: {{message}}</div>{% endif %}
{% if action=="write" %}<div class="text">written value {{value}}</div>{% endif %}
{% if action=="read" %}<div class="text">read value {{value}}</div>{% endif %}
<a href="/"><button>back</button></a>
