<div class="text">Write on register {{register}} (board {{board}})</div>
<form method="post" accept-charset="utf-8">
  <label for="value">value:</label><br>
  <input type="text" id="value" name="value" value=""><br>
  <input type="submit" value="Submit">
</form>
